<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Lo logo du laboratoire Paul Painlevé de l'université Lille 1">
    <meta name="keywords" content="laboratoire Paul Painlevé, université Lille 1, logo, latex, svg">
    <meta name="author" content="Kroum Tzanev">

    <title>Logo du laboratoire Paul Painlevé</title>
    <link href="favicon.ico" type="image/x-icon" rel="icon" />
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app>

    <!-- Le formulaire -->
    <div class="jumbotron container">
      <div class="col-md-5 text-center">
        <img class="img-thumbnail" ng-src="{{avecnomoupas && ('logonompp/logonompp_750_300.png') || ('logopp/logopp_240_300.png')}}" alt="Logo Paul Painlevé" />
      </div>
      <div class="col-md-2"><p></p></div>
      <div class="col-md-5 text-center">

      <!-- Avec ou sans nom ? -->
      <select class="form-control" ng-model="avecnomoupas" ng-init="avecnomoupas='nom'; resolution = '125_50'" ng-change="resolution = avecnomoupas && ('125_50') || ('40_50') ">
        <option value="nom" selected="selected">logo et nom</option>
        <option value="">logo seul</option>
      </select>
      <br />

      <!-- Type de fichier ? -->
      <select class="form-control" ng-model="typedefichier" ng-init="typedefichier='png';bitmap =true" ng-change="bitmap = typedefichier == 'png' || typedefichier == 'gif' || typedefichier == 'jpg'">
        <option value="svg">SVG (vectoriel)</option>
        <option value="eps">EPS (vectoriel)</option>
        <option value="pdf">PDF (vectoriel)</option>
        <option value="png">PNG 24bits (bitmap avec transparence)</option>
        <option value="gif" selected="selected">GIF 256 couleurs (bitmap sur fond blanc)</option>
        <option value="jpg">JPG (bitmap sur fond blanc)</option>
      </select>
      <br />

      <!-- Résolution ? -->
      <select class="form-control" ng-model="resolution" ng-show="bitmap">
        <option ng-show="avecnomoupas" value="125_50">125 x 50 pixels</option>
        <option ng-show="avecnomoupas" value="250_100" selected="selected">250 x 100 pixels</option>
        <option ng-show="avecnomoupas" value="750_300">750 x 300 pixels</option>
        <option ng-show="avecnomoupas" value="1725_700">1725 x 700 pixels</option>

        <option ng-hide="avecnomoupas" value="40_50">40 x 50 pixels</option>
        <option ng-hide="avecnomoupas" value="80_100">80 x 100 pixels</option>
        <option ng-hide="avecnomoupas" value="240_300">240 x 300 pixels</option>
        <option ng-hide="avecnomoupas" value="560_700">560 x 700 pixels</option>
      </select>
      <br />

      <!-- C'est parti ! -->
      <a class="btn btn-primary btn-lg" role="button" ng-href="logo{{avecnomoupas}}pp/logo{{avecnomoupas}}pp{{bitmap && ('_'+resolution) || ('')}}.{{typedefichier}}">Télécharger</a>
      </div>
    </div>

    <!-- Les informations -->
    <div class="container">

      <!-- LaTeX -->
      <h2 id="latex" >LaTeX</h2>
      <p>
        Pour utiliser les macros LaTex il faut inclure la librairie logopp&nbsp;(<code>\usepackage{labopp}</code>) ainsi que <a href="http://fr.wikipedia.org/wiki/PGF/TikZ">TiKz</a>&nbsp;(<code>\usepackage{tikz}</code>).
      </p>
      <p>
        Si <code>labopp.sty</code> ne fait pas partie de votre distribution, vous pouvez <a href="latex/labopp.sty">le télécharger ici</a>.
        Vous pouvez le mettre soit avec les autres bibliothèques LaTeX, soit dans le même répertoire que le fichier latex.
      </p>
      <p>
        <strong>Attention :</strong> Pour que l'en-tête et le pied de page se mettent en place, il faut compiler deux fois.
      </p>
      <p>
        <strong>Exemples :</strong>
        <ul>
          <li>
            <p>
              Utilisation de la bibliothèque <code>logopp</code> : le résultat en <a href="latex/exemple_logo.pdf">PDF</a> et sa source en <a href="latex/exemple_logo.tex">LaTeX</a>.
            </p>
            <div class="alert alert-warning" role="alert">
              Comme <i>fancyvrb</i> a du mal avec les accents, voilà les versions en utf-8 compilées avec LuaLaTeX : <a href="latex/exemple_logo_utf8.pdf">PDF</a> et la source <a href="latex/exemple_logo_utf8.tex">LaTeX</a>.
            </div>
          </li>
          <li>
            <p>
              Lettre type du labo : le résultat en <a href="latex/exemple_lettre.pdf">PDF</a> et sa source en <a href="latex/exemple_lettre.tex">LaTeX</a>.</li>
            </p>
            <div class="alert alert-warning" role="alert">
              Si vous avez des problèmes avec la compilation de TiKz, il existe une version simplifiée du style <a href="latex/laboppnotikz.sty">laboppnotikz.sty</a>. Pour pouvoir l'utiliser vous avez besoin de deux images en pdf <a href="logonompp/logonompp.pdf">logonompp.pdf</a> et <a href="latex/labofooter.pdf">labofooter.pdf</a>. Pour l'utilisation de ce style vous pouvez consulter le modèle <a href="latex/exemple_lettre_notikz.tex">exemple_lettre_notikz.tex</a>, ainsi que le résultat de la compilation avec pdflatex <a href="latex/exemple_lettre_notikz.pdf">exemple_lettre_notikz.pdf</a>.
            </div>
        </ul>
      </p>

      <h2 id="word" >Word</h2>
      <p>
        Voici un fichier de lettre type du labo : le résultat en <a href="doc/exemple_lettre_doc.pdf">PDF</a> et sa source en <a href="doc/exemple_lettre.docx">DOCX</a>, en <a href="doc/exemple_lettre.doc">DOC</a> et en <a href="doc/exemple_lettre.odt">ODT</a>.
        <div class="alert alert-warning" role="alert">
          <em>Remarque :</em> Les images dans le fichier sont en GIF.
        </div>
      </p>

      <h2 id="autres">Autres</h2>
      Dans cette section vous pouvez trouver d'autres fichiers utiles.
      <ul>
        <li><strong>Logo CNRS</strong> (petit en gris) : l'original en <a href="autres/logocnrs_petit.tikz">TikZ</a>, et les bitmaps en <a href="autres/CNRS_INSMI_gray_370_x_200.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/CNRS_INSMI_gray_370_x_200.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li><strong>Logo de l'Université</strong> (petit en gris) : l'original en <a href="autres/logoustl_patit.tikz">TikZ</a>, et les bitmaps en <a href="autres/USTL_gray_570_x_200.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/USTL_gray_570_x_20.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône <strong>téléphone</strong> :l'original en <a href="autres/phone.tikz">TikZ</a>, et les bitmaps en <a href="autres/phone.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/phone.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône <strong>fax</strong> : l'original en <a href="autres/fax.tikz">TikZ</a>, et les bitmaps en <a href="autres/fax.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/fax.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône <strong>monde</strong> : l'original en <a href="autres/world.tikz">TikZ</a>, et les bitmaps en <a href="autres/world.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/world.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône du <strong>favori labo</strong> : <a href="favicon.ico">favicon.ico</a> (pour mettre à la racine du site web ou à utiliser dans une page avec &lt;link href=&quot;favicon.ico&quot; type=&quot;image/x-icon&quot; rel=&quot;icon&quot; /&gt;)</li>
      </ul>
      <div class="alert alert-warning" role="alert">
      La police utiliser dans le logo est <a href="http://en.wikipedia.org/wiki/Baskerville">Baskerville (Old Face)</a>.
      </div>
    </div>

  </body>
</html>
