<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le logo du laboratoire Paul Painlevé de l'Université Lille">
    <meta name="keywords" content="laboratoire Paul Painlevé, Université Lille, logo, latex, svg">
    <meta name="author" content="Kroum Tzanev">

    <title>Logo du laboratoire Paul Painlevé</title>
    <link href="favicon.png" type="image/png" rel="icon" />
    <!-- <link href="favicon.ico" type="image/x-icon" rel="icon" /> -->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script>
      function DownloadCtrl($scope, $timeout){
        // =============== données pour les logos ===============
        $scope.logos = [
          {
            name : "Paul Painlevé : logo",
            folder : "logopp",
            base : "logopp",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:40, y:50},
              {x:80, y:100},
              {x:240, y:300},
              {x:560, y:700}
            ]
          },
          {
            name : "Paul Painlevé : logo et nom",
            folder : "logonompp",
            base : "logonompp",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:125, y:50},
              {x:250, y:100},
              {x:750, y:300},
              {x:1750, y:700}
            ]
          },
          {
            name : "Université de Lille : logo",
            folder : "ul",
            base : "ul",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:45, y:50},
              {x:90, y:100},
              {x:269, y:300},
              {x:628, y:700}
            ]
          },
          {
            name : "Université de Lille : logo et nom",
            folder : "ulnom",
            base : "ulnom",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:120, y:50},
              {x:240, y:100},
              {x:721, y:300},
              {x:1682, y:700}
            ]
          },
          {
            name : "Département de Mathématiques : logo et nom",
            folder : "ul-fst-math",
            base : "ul-fst-math",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:290, y:50},
              {x:580, y:100},
              {x:1739, y:300},
              {x:4058, y:700}
            ]
          },
          {
            name : "CNRS : logo",
            folder : "cnrs",
            base : "cnrs",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:50, y:50},
              {x:100, y:100},
              {x:300, y:300},
              {x:700, y:700}
            ]
          },
          {
            name : "CNRS : logo simplifié",
            folder : "cnrs-simple",
            base : "cnrs-simple",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:50, y:50},
              {x:100, y:100},
              {x:300, y:300},
              {x:700, y:700}
            ]
          },
          {
            name : "Fédération Hauts-de-France : logo",
            folder : "frmhf",
            base : "frmhf",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:70, y:50},
              {x:140, y:100},
              {x:420, y:300},
              {x:980, y:700}
            ]
          },
          {
            name : "Fédération Hauts-de-France : logo et nom",
            folder : "frmhfnom",
            base : "frmhfnom",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:200, y:50},
              {x:400, y:100},
              {x:1200, y:300},
              {x:2800, y:700}
            ]
          },
          {
            name : "CEMPI : logo",
            folder : "cempi",
            base : "cempi",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:50, y:50},
              {x:100, y:100},
              {x:300, y:300},
              {x:700, y:700}
            ]
          },
          {
            name : "CEMPI : logo et nom",
            folder : "cempinom",
            base : "cempinom",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:179, y:50},
              {x:357, y:100},
              {x:1071, y:300},
              {x:2499, y:700}
            ]
          },
          {
            name : "l'Europe s'engage : logo et nom",
            folder : "ee-en-hf",
            base : "ee-en-hf",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:83, y:50},
              {x:167, y:100},
              {x:500, y:300},
              {x:1167, y:700}
            ]
          },
          {
            name : "Université de Lille 1 : logo et nom (avant 2018)",
            folder : "ul1nom",
            base : "ul1nom",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:107, y:50},
              {x:214, y:100},
              {x:641, y:300},
              {x:1495, y:700}
            ]
          },
          {
            name : "UFR de Mathématiques : logo et nom (avant 2018)",
            folder : "ul1ufr",
            base : "ul1ufr",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:167, y:50},
              {x:334, y:100},
              {x:1001, y:300},
              {x:2335, y:700}
            ]
          },
          {
            name : "Fédération Nord-Pas de Calais : logo (avant 2019)",
            folder : "frm",
            base : "frm",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:70, y:50},
              {x:140, y:100},
              {x:420, y:300},
              {x:980, y:700}
            ]
          },
          {
            name : "Fédération Nord-Pas de Calais : logo et nom (avant 2019)",
            folder : "frmnom",
            base : "frmnom",
            monochrome : true,
            types : ["png", "gif", "jpg", "svg", "pdf", "eps", "ps", "tikz"],
            resolutions : [
              {x:200, y:50},
              {x:400, y:100},
              {x:1200, y:300},
              {x:2800, y:700}
            ]
          }
        ];

        // =============== méthodes ===============

        // renvoie la description du type de fichier
        $scope.typedescr = function(t) {
          return {
            "png" : "PNG 24bits (bitmap avec transparence)",
            "gif" : "GIF 256 couleurs (bitmap sur fond blanc)",
            "jpg" : "JPG (bitmap sur fond blanc)",
            "svg" : "SVG (vectoriel)",
            "pdf" : "PDF (vectoriel)",
            "eps" : "EPS (vectoriel)",
            "ps" : "PS (vectoriel)",
            "tikz" : "TikZ (vectoriel)"
          }[t];
        };
        // renvoie "true" si c'est une image bitmap
        //  ceci permet d'afficher ou non la sélection de la résolution
        function isbitmap(t){return ['png','gif','jpg'].indexOf(t) >=0}
        $scope.setbitmap = function() {
          $scope.bitmap = isbitmap($scope.typedefichier);
        };
        //  ceci permet d'afficher ou non le lien vers le code <img>
        function isokimg(t){return ['png','gif','jpg','svg'].indexOf(t) >=0}
        $scope.setokimg = function() {
          $scope.okimg = isokimg($scope.typedefichier);
        };
        // renvoie la résolution pour la liste des choix (ex "300 x 100 pixels")
        $scope.pixels = function(r) {
          return ""+r.x+" x "+r.y+" pixels";
        };
        // renvoie la résolution pour coller au nom du fichier (ex "_100")
        $scope.forfile = function(r) {
          return "_"+r.y;
        };
        // renvoie la résolution pour utiliser dans img (ex "width="100" height="300")
        $scope.imgsize = function(r) {
            return r ? " width=\""+r.x+"px\" height=\""+r.y+"px\"" : "";
        }
        // retourne le nom du fichier image (ex: "logopp_80_100.gif")
        $scope.imgname = function(type,resolution) {
          type = typeof type !== 'undefined' ? type : $scope.typedefichier;
          resolution = typeof resolution !== 'undefined' ? resolution : $scope.resolution;
          return $scope.logo.base +
                ($scope.logo.monochrome ? $scope.monochrome : "") +
                (isbitmap(type) ? $scope.forfile(resolution) : "") + "." + type;
        }
        // retourne le lien (absolu ou relatif) vers le fichier image (ex: "logopp/logopp_80_100.gif")
        $scope.imgurl = function(absolute,type,resolution) {
          return ((typeof absolute !== 'undefined') && absolute ? "https://ktzanev.github.io/logolabopp/" : "") +
          $scope.logo.folder + "/" + $scope.imgname(type,resolution);
        }
        // remove gif and jpg for monochrome images
        $scope.adaptformonochrome = function(a)
        {
          if (!$scope.monochrome)
            return a;
          var b = a.slice(); // fast copy of a !
          var i;
          i = b.indexOf("jpg");
          if (i>=0) {b.splice(i,1)};
          i = b.indexOf("gif");
          if (i>=0) {b.splice(i,1)};
          return b;
        }

        // permet de sélectionner le logo à partir de l'url de la page
        //  par exemple si le url se termine par "#frm",
        //  le logo ayant pour base "frm" sera sélectionné
        $scope.logofrombase = function(base){
          var i = 1; // Logo et nom PP
          if (base) {
            for (i=$scope.logos.length-1;  i>=0; i--)
              if ($scope.logos[i].base == base) break;
            i = i < 0 ? 1 : i;
          }
          $scope.logo = $scope.logos[i];
        };

        $scope.showShareLink = function() {
          if (!$scope.showimgcode)
            return;
          $scope.sharelink = $scope.imgurl(true);
          $scope.shareimg = "<img src=\""+$scope.sharelink+"\" alt=\""+$scope.logo.name+"\""+$scope.imgsize($scope.bitmap && $scope.resolution)+">"
          $timeout($scope.selectShareLink, 0, false);
        };

        $scope.selectShareLink = function() {
          if (!$scope.showimgcode)
            return;
          document.getElementById('shareimg').select();
          document.getElementById('shareimg').focus();
        };

        // les variable observé pour changement
        //  si "typedefichier" change alors "bitmap" est mis en fonction à true ou false
        $scope.$watch("typedefichier",function(){$scope.setbitmap();});
        //  si "typedefichier" change alors "okimg" est mis en fonction à true ou false
        $scope.$watch("typedefichier",function(){$scope.setokimg();});

        // initialisation
        $scope.inittype = function() {
          if ($scope.logo.types.indexOf($scope.typedefichier) < 0) {
            $scope.typedefichier = $scope.logo.types[0]; // le type par défaut est PNG
          }
        }
        $scope.initresolution = function() {
          var i = $scope.resolution ? [50,100,300,700].indexOf($scope.resolution.y) : 1;
          (i >= 0 || i < $scope.logo.resolutions.length) || (i = 1);
          $scope.resolution = $scope.logo.resolutions[i]; // résolution par défaut
        }

        $scope.logofrombase(document.URL.split("#")[1]); // le logo du url (ex:#frmnom)
        $scope.inittype();
        $scope.monochrome=""; // en couleur par defaut
        $scope.initresolution();

        if (navigator.userAgent.indexOf('Mac OS X') != -1) {
           document.getElementById("ctrlcmd").innerHTML = "Cmd";
        }
      }
    </script>
  </head>

  <body ng-app>

    <!-- =============== Le formulaire =============== -->
    <div class="jumbotron container-fluid">
      <div class="row" ng-controller="DownloadCtrl">

        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 text-center">
          <img class="img-thumbnail" ng-src="{{imgurl(false,monochrome ? 'png' : 'gif',logo.resolutions[2])}}" alt="{{logo.name}}" title="{{logo.name}}" style="margin-bottom: 1em;{{monochrome =='_blanc'? 'background-color:black' : ''}}" style=""/>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 text-center">

          <!-- Choix logo -->
          <select class="form-control" ng-model="logo" ng-options="l.name for l in logos" ng-change="inittype();initresolution();"></select>
          <br />

          <!-- Couleur ou monochrome -->
          <select class="form-control" ng-model="monochrome" ng-show="logo.monochrome">
            <option value="">en couleurs</option>
            <option value="_noir">en noir</option>
            <option value="_blanc">en blanc</option>
          </select>
          <br ng-show="logo.monochrome"/>

          <!-- Type de fichier -->
          <select class="form-control" ng-model="typedefichier" ng-options="typedescr(t) for t in adaptformonochrome(logo.types)"></select>
          <br />

          <!-- Résolution -->
          <select class="form-control" ng-model="resolution" ng-options="pixels(r) for r in logo.resolutions" ng-show="bitmap"></select>
          <br />

          <!-- C'est parti ! -->
          <div class="form-group">
            <a class="btn btn-success btn-lg" role="button" ng-href="{{imgurl()}}" download="{{imgname()}}">Télécharger</a>
            <a class="btn btn-warning btn-lg" role="button" type="button" ng-show="okimg" ng-click="showimgcode=!showimgcode;showShareLink();">&lt; img &gt;</a>
          </div>
          <div ng-show="showimgcode" class="form-group has-warning">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-share"></i></span>
              <input class="form-control" type="text" readonly="readonly" id="shareimg" ng-model="shareimg" ng-click="selectShareLink()" ng-blur="showimgcode=false"></input>
            </div>
            <label for="shareimg"><span id="ctrlcmd">Ctrl</span>-C pour copier</label>
          </div>
        </div>
      </div><!-- fin DownloadCtrl -->
    </div>
    <!-- fin du formulaire -->

    <!-- =============== Les informations =============== -->
    <div class="container">

      <!-- LaTeX -->
      <h2 id="latex" >LaTeX</h2>
      <p>
        Pour utiliser les macros LaTex il faut inclure la librairie labopp&nbsp;(<code>\usepackage{labopp}</code>), qui est basée sur <a href="http://fr.wikipedia.org/wiki/PGF/TikZ">Ti<i>k</i>Z 3.x</a>&nbsp;.
      </p>
      <p>
        Si <code>labopp.sty</code> ne fait pas partie de votre distribution, vous pouvez <a href="latex/labopp.sty">le télécharger ici</a>.
        Vous pouvez le mettre soit avec les autres bibliothèques LaTeX, soit dans le même répertoire que le fichier latex.
      </p>
      <div class="alert alert-warning" role="alert">
        <strong>Attention :</strong>
        <ul>
          <li>Pour que l'en-tête et le pied de page se mettent en place, il faut compiler deux fois.</li>
          <li>Si vous avez des problèmes avec la compilation (probablement dus à votre version de Ti<i>k</i>Z) :
            <ul>
              <li>
                Il existe une version de <a href="latex/tikz_v2.1/labopp.sty">labopp.sty</a> compatible avec l'ancienne version 2.1 de Ti<i>k</i>Z.
              </li>
              <li>
                Il existe également une version simplifiée de la bibliothèque, <a href="latex/laboppnotikz.sty"> laboppnotikz.sty</a>, qui n'utilise pas Ti<i>k</i>Z. Pour pouvoir l'utiliser, en plus de la bibliothèque elle même, vous avez besoin de deux images en pdf : <a href="logonompp/logonompp.pdf">logonompp.pdf</a> et <a href="latex/labofooter.pdf">labofooter.pdf</a>. Pour l'utilisation de ce style vous pouvez consulter le modèle <a href="latex/exemple_lettre_notikz.tex">exemple_lettre_notikz.tex</a> (ou sa version <a href="latex/exemple_lettre_notikz.tex">anglaise</a>), ainsi que le résultat de la compilation avec pdflatex <a href="latex/exemple_lettre_notikz.pdf">exemple_lettre_notikz.pdf</a>.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <p><strong>Exemples :</strong></p>
      <ul>
        <li>
          <p>
            Utilisation de la bibliothèque <code>labopp</code> : le résultat en <a href="latex/exemple_logo.pdf">PDF</a> et sa source en <a href="latex/exemple_logo.tex">LaTeX</a>.
          </p>
          <div class="alert alert-warning" role="alert">
            Comme <i>fancyvrb</i> a du mal avec les accents, voilà la version en utf-8 compilée avec XeLaTeX : <a href="latex/exemple_logo_utf8.pdf">PDF</a> et la source <a href="latex/exemple_logo_utf8.tex">LaTeX</a>.
          </div>
        </li>
        <li>
          <p>Lettre type du labo n'utilisant pas Ti<i>k</i>Z</p>
          <div class="alert alert-warning" role="alert">
            Pour pouvoir utiliser ce modèle vous avez besoin de la bibliothèque, <a href="latex/laboppnotikz.sty"> laboppnotikz.sty</a>, et des deux images en pdf : <a href="logonompp/logonompp.pdf">logonompp.pdf</a> et <a href="latex/labofooter.pdf">labofooter.pdf</a>.
          </div>
          <ul>
            <li>version française :
              <ul>
                  <li><a href="latex/exemple_lettre_notikz.tex">source LaTeX an ascii</a> à compiler avec PDFLaTeX pour obtenir ce résultat en <a href="latex/exemple_lettre_notikz.pdf">PDF</a>;</li>
                  <li><a href="latex/exemple_lettre_notikz_utf8.tex">source LaTeX en UTF8</a> à compiler avec PDFLaTeX, LuaLaTeX ou XeLaTeX (de préférence) pour obtenir ce résultat en <a href="latex/exemple_lettre_notikz_utf8.pdf">PDF</a>.</li>
                </ul>
            </li>
            <li>english version : <a href="latex/exemple_lettre_notikz_en.tex">LaTeX source</a> that can be compiled with PDFLaTeX, LuaLaTeX ou XeLaTeX (best choice) to obtain this result in <a href="latex/exemple_lettre_notikz_en.pdf">PDF</a>.</li>
          </ul>
          <p></p>
        </li>
        <li>
          <p>Lettre type du labo utilisant Ti<i>k</i>Z</p>
          <div class="alert alert-warning" role="alert">
            Doit être compilée deux fois pour que l'en-tête et le bas-de-page se mettent en place. Utilise <a href="latex/labopp.sty">labopp.sty</a>.
          </div>
          <ul>
            <li>version française :
              <ul>
                  <li><a href="latex/exemple_lettre.tex">source LaTeX an ascii</a> à compiler avec PDFLaTeX pour obtenir ce résultat en <a href="latex/exemple_lettre.pdf">PDF</a>;</li>
                  <li><a href="latex/exemple_lettre_utf8.tex">source LaTeX en UTF8 </a> à compiler avec PDFLaTeX, LuaLaTeX ou XeLaTeX (de préférence) pour obtenir ce résultat en <a href="latex/exemple_lettre_utf8.pdf">PDF</a>.</li>
                </ul>
            </li>
            <li>english version : <a href="latex/exemple_lettre_en.tex">LaTeX source</a> that can be compiled with PDFLaTeX, LuaLaTeX ou XeLaTeX (best choice) to obtain this result in <a href="latex/exemple_lettre_en.pdf">PDF</a>.</li>
          </ul>
        </li>
      </ul>

      <!-- Word -->
      <h2 id="word" >Word</h2>
      <p>
        Voici un fichier de lettre type du labo : le résultat en <a href="doc/exemple_lettre_doc.pdf">PDF</a> et sa source en <a href="doc/exemple_lettre.docx">DOCX</a>, en <a href="doc/exemple_lettre.doc">DOC</a> et en <a href="doc/exemple_lettre.odt">ODT</a>.
      </p>
      <div class="alert alert-warning" role="alert">
        <em>Remarque :</em> Les images dans le fichier sont pixelisées (GIF/PNG).
      </div>

      <!-- Autres -->
      <h2 id="autres">Autres</h2>
      Dans cette section vous pouvez trouver d'autres fichiers utiles.
      <ul>
        <li><strong>Logo CNRS</strong> (petit en gris) : l'original en <a href="autres/logocnrsinsmi_gris_petit.tikz">Ti<i>k</i>Z</a>, et les bitmaps en <a href="autres/logocnrsinsmi_gris_petit.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/logocnrsinsmi_gris_petit.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li><strong>Logo de l'Université</strong> (petit en gris) : l'original en <a href="autres/logoul_gris_petit.tikz">Ti<i>k</i>Z</a>, et les bitmaps en <a href="autres/logoul_gris_petit.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/logoul_gris_petit.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li><strong>Le pied de page du labo</strong> : en <a href="doc/labofooter.png">PNG</a> et en <a href="latex/labofooter.pdf">PDF</a>.</li>
        <li>Icône <strong>téléphone</strong> :l'original en <a href="autres/phone.tikz">Ti<i>k</i>Z</a>, et les bitmaps en <a href="autres/phone.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/phone.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône <strong>fax</strong> : l'original en <a href="autres/fax.tikz">Ti<i>k</i>Z</a>, et les bitmaps en <a href="autres/fax.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/fax.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône <strong>monde</strong> : l'original en <a href="autres/world.tikz">Ti<i>k</i>Z</a>, et les bitmaps en <a href="autres/world.gif">GIF&nbsp;(sur fond blanc)</a> et <a href="autres/world.png">PNG&nbsp;(avec transparence)</a>.</li>
        <li>Icône du <strong>favori labo</strong> :
          <ul>
            <li>
              version <strong>png</strong> (avec transparences) : <a href="favicon.png">favicon.png</a>, pour utiliser dans une page avec <code style="white-space:normal;word-wrap:break-word;">&lt;link href=&quot;https://ktzanev.github.io/logolabopp/favicon.png&quot; type=&quot;image/png&quot; rel=&quot;icon&quot; /&gt;</code>;
            </li>
            <li>
              version <strong>ico</strong> (sans transparences) : <a href="favicon.ico">favicon.ico</a>, pour mettre à la racine du site web ou à utiliser dans une page avec <code style="white-space:normal;word-wrap:break-word;">&lt;link href=&quot;https://ktzanev.github.io/logolabopp/favicon.ico&quot; type=&quot;image/x-icon&quot; rel=&quot;icon&quot; /&gt;</code>.
            </li>
          </ul>
        </li>
      </ul>
      <div class="alert alert-warning" role="alert">
        La police utilisée dans le logo est <a href="http://en.wikipedia.org/wiki/Baskerville">Baskerville (Old Face)</a>.
      </div>

      <!-- Liens -->
      <h2 id="liens">Liens</h2>
      Quelques autres endroits où on trouve des logos :
      <ul>
        <li>sur la page de <a href="http://ext.boulgour.com/lifl/beaufils/logos/">Bruno BEAUFILS</a></li>
        <li>les universités françaises sur <a href="http://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Logo_d%27universit%C3%A9_fran%C3%A7aise">Wikipedia</a></li>
      </ul>
    </div>


    <!-- =============== Le ruban GitHub =============== -->
    <div>
      <style type="text/css" scoped>#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:768px){#forkongithub{position:fixed;display:block;top:0;left:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:35px;left:-50px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style>
      <span id="forkongithub"><a href="https://github.com/ktzanev/logolabopp/">clonez-moi sur GitHub</a></span>
    </div>

  </body>
</html>
